In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Practical1.csv')
print(df)

    Roll no       Name  Maths  Science  History  English  Social Science
0          1     Alice     80       75       85       90              95
1          2       Bob     70       80       75       85              90
2          3   Charlie     85       90       80       75              70
3          4     David     60       65       70       75              80
4          5       Eve     90       85       95       80              75
5          6     Frank     75       70       80       85              90
6          7     Grace     85       80       75       70              65
7          8     Henry     80       75       70       65              60
8          9     Irene     75       80       85       90              95
9         10      Jack     70       75       80       85              90
10        11      Kate     85       90       85       90              85
11        12      Lucy     60       65       70       75              80
12        13      Mike     75       80       85       90              95
13        14     Nancy     70       75       80       85              90
14        15    Olivia     85       90       85       90              85
15        16      Paul     60       65       70       75              80
16        17     Quinn     75       80       85       90              95
17        18    Rachel     70       75       80       85              90
18        19       Sam     85       90       85       90              85
19        20       Tom     60       65       70       75              80
20        21       Uma     75       80       85       90              95
21        22    Victor     70       75       80       85              90
22        23     Wendy     85       90       85       90              85
23        24    Xavier     60       65       70       75              80
24        25      Yara     75       80       85       90              95
25        26       Zoe     70       75       80       75              60
26        27     Aaron     85       90       85       90              85
27        28     Bella     60       65       70       75              80
28        29    Carter     75       80       85       90              95
29        30    Daniel     70       75       80       85              90
30        31     Emily     85       90       85       90              85
31        32     Fiona     60       65       70       75              80
32        33    George     75       80       85       90              95
33        34     Harry     70       75       80       85              90
34        35     Isaac     85       90       85       90              85
35        36   Jasmine     60       65       70       75              80
36        37      Kyle     75       80       85       90              95
37        38      Lily     70       75       80       85              90
38        39   Matthew     85       90       85       90              85
39        40      Nina     60       65       70       75              80
40        41      Owen     75       80       85       90              95
41        42  Penelope     70       75       80       85              90
42        43     Quinn     85       90       85       90              85
43        44      Ryan     60       65       70       75              80
44        45     Sarah     75       80       85       90              95
45        46     Tyler     70       75       80       85              90
46        47       Uma     85       90       85       90              85
47        48    Victor     60       65       70       75              80
48        49     Wendy     75       80       85       90              95
49        50    Xavier     70       75       80       85              90

In [3]:
mean_maths=df["Maths"].mean()
print(f"Maths: {mean_maths}")
mean_sci=df["Science"].mean()
print(f"Science: {mean_sci}")
mean_eng=df["English"].mean()
print(f"English: {mean_eng}")
mean_history=df["History"].mean()
print(f"English: {mean_history}")
mean_social=df["Social Science"].mean()
print(f"Social Science: {mean_social}")

Maths: 73.4
Science: 77.5
English: 83.8
English: 79.9
Social Science: 85.6

In [4]:
median_maths=df["Maths"].median()
print(f"Maths: {median_maths}")
median_sci=df["Science"].median()
print(f"Science: {median_sci}")
median_eng=df["English"].median()
print(f"English: {median_eng}")
median_history=df["History"].median()
print(f"English: {median_history}")
median_social=df["Social Science"].median()
print(f"Social Science: {median_social}")

Maths: 75.0
Science: 77.5
English: 85.0
English: 80.0
Social Science: 85.0

In [5]:
mode_maths=df["Maths"].mode()
print(f"Maths: {mode_maths}")
mode_sci=df["Science"].mode()
print(f"Science: {mode_sci}")
mode_eng=df["English"].mode()
print(f"English: {mode_eng}")
mode_history=df["History"].mode()
print(f"English: {mode_history}")
mode_social=df["Social Science"].mode()
print(f"Social Science: {mode_social}")

Maths: 0    70
1    75
2    85
Name: Maths, dtype: int64
Science: 0    75
1    80
Name: Science, dtype: int64
English: 0    90
Name: English, dtype: int64
English: 0    85
Name: History, dtype: int64
Social Science: 0    90
1    95
Name: Social Science, dtype: int64

In [6]:
std_maths=df["Maths"].std()
print(f"Maths: {std_maths}")
std_sci=df["Science"].std()
print(f"Science: {std_sci}")
std_eng=df["English"].std()
print(f"English : {std_eng}")
std_history=df["History"].std()
print(f"History : {std_history}")
std_social=df["Social Science"].std()
print(f"Social Scinece : {std_social}")

Maths: 9.171829096728297
Science: 8.704326862109957
English : 7.039248568431385
History : 6.427777728780941
Social Scinece : 8.727156771029298