# Combining Data from multiple sources

In [3]:
import pandas as pd

In [6]:
data1=pd.read_csv('Book1.csv')
data2=pd.read_csv('Book2.csv')
data=pd.concat([data1,data2],ignore_index=True)
print(data)

       Name  Roll no   Physics  Maths  CS  Roll no
0     Omkar       1.0       32     33  34      NaN
1    Pranay       2.0       22     23  23      NaN
2     Rajat       3.0       22     22  24      NaN
3     Sahil       4.0       22     22  33      NaN
4   Sankalp       NaN       30     23  33      6.0
5    Tanmay       NaN       31     23  34      7.0
6    Vishnu       NaN       32     24  33      8.0
7  Yeshwant       NaN       33     25  32      9.0